:root{
    --blue: #c3d6f9;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    border: lightgray 2px solid;
    border-radius: .25rem;
    margin: 0.5rem 1rem;
    padding: .75rem;
    text-shadow: 10px 1px 1px 1px;


}
.message-info{
    background-color: var(--blue);
    color:#4b3fa5;
}
.message-success{
    background-color:
    color: #fdecec;
}
.message-warning{
    background-color: #2a2a2b;
    color: 
}
.message-error{
    background-color: #ff0000;
    color: #f6e9e8;
}