@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*************************************/
header {
    color:#3B55C4;
    text-shadow: #a2034e 2px 2px;
    text-decoration: underline;
}
/*********************************************/
body{

    background-color: #C4AA3B;
    background-image: url("img/worlwide.jpeg");
    background-size: 17.5%;
    background-position: top left;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}
/************************************************/
h2 {
    color: #3B55C4;
    text-decoration: underline;
}
ul li {
    color: blue;
    list-style: circle;
    list-style-position: inside;
}
ol li {
    color: #c40303;
    list-style: upper-roman;
    list-style-position: inside;
}
/***************************************************/
img {
    border-radius: 10px;
    border: 5px ridge darkorange;
    padding: 1px;
}
/***********************************************************/
table {
    border: thin solid black;
    border-collapse: collapse;
    padding: 50px;
    margin: auto;

}

th {
    color: #053ea4;
    font-size: 1.2rem;
    /*font-weight: bolder; not working for me*/

}

th, td {
    border: thin dotted black;
    padding: 10px;
    text-align: center;
}

/*****************************************************/
a:hover{
    background: cadetblue;
}
a:link{
    color: #02580e;

}
a:visited{
    color:red;
}
a:active{
    font-size: 2rem;
}
